/***** Widgets on homepage ****/

.panel-default > .panel-heading {
  background-color: transparent;
  border: none;
  color: var(--fgdull);
  letter-spacing: 0px;
  padding: 5px 10px 5px 5px;
  margin-bottom: 10px;
}

div.panel-heading.ui-sortable-handle {
  padding: 0px 5px;
  margin-bottom: 0px;

  /* on homepage we dont need spacing */
}

.panel-default {
  box-shadow: none;
  border: 0px solid var(--bgdark);
  background-color: var(--bgdark);
  padding: 0px 5px;
  border-radius: 5px;

  padding: 10px 5px 0 5px;

  &::after {
    height: 1px; // 0px completely gets rid of it, 1px does something. looks like a hack.
    content: "";
    display: block;
  }
}

.panel-title {
  a {
    color: var(--accent);
    padding: 0px 0px;
    font-size: 12px;

    &:hover {
      color: var(--accentdark);
    }
  }

  color: var(--accent);
  padding: 0px 0px;
  font-size: 12px;
  margin-bottom: 10px;
}

/* Diagnostics > pfInfo */

.panel-body {
  background-color: transparent;
  border: none;
}

.widget-heading-icon .fa {
  color: var(--accent);
  transition: color 100ms linear 0ms;
  font-size: 12px;
  margin: 0px 2px;

  &:hover {
    color: var(--fg);
  }
}

// Services Status Widget
// Bring some space between the restart/stop icons
#widget-services_status-0 tbody .fa {
  margin-left: 5px;
}

// System Information Widget
#updatestatus {
  .fa.fa-cloud-download {
    color: var(--green);
    margin-left: 5px;
    &:hover {
      color: var(--greendark);
    }
  }
}

// Netgate Services and Support
#widget-netgate_services_and_support-0_panel-body {
  span[style] {
    // There's an inline style, so lets target it.
    color: inherit;
  }
}
