/*
    - &BG        '#282A36'
    - &FG        '#F8F8F2'
    - &SELECTION '#44475A'
    - &TEXTDULL  '#BCC2CD'
    - &COMMENT   '#6272A4'
    - &CYAN      '#8BE9FD'
    - &GREEN     '#50FA7B'
    - &ORANGE    '#FFB86C'
    - &PINK      '#FF79C6'
    - &PURPLE    '#BD93F9'
    - &RED       '#FF5555'
    - &YELLOW    '#F1FA8C'
    
    - &LineHighlight '#44475A75'
    - &NonText       '#FFFFFF1A'
    - &WHITE         '#FFFFFF'
    - &TAB_DROP_BG   '#44475A70'
    # UI Variants
    - &BGLighter     '#424450'
    - &BGLight       '#343746' # HSV (230   , 25.71, 27.45)
    - &BGDark        '#21222C' # HSV (234.55, 25   , 17.25)
    - &BGDarker      '#191A21' # HSV (234.55, 25   , 13   )

*/

/* Navbar */

.navbar {
  margin-bottom: -10px;
  font-size: 14px;
}

.navbar a {
  color: #bcc2cd;
  border-bottom-color: transparent;
  transition: color 100ms linear 0ms;
}

.navbar a:hover,
.navbar a:focus {
  color: #f8f8f2;
  box-shadow: none;
}
.navbar .open a {
  color: #f8f8f2;
  background-color: #191a21;
}

.dropdown-menu {
  font-size: 12px;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #44475a;
}

nav.navbar.navbar-static-top.navbar-inverse {
  background-color: #21222c;
  border: none;
}

/********/

body {
  background-color: #282a36;
  color: #f8f8f2;
}

a {
  color: #ff79c6;
}
a:hover {
  color: #ff79c6aa;
}

.header {
  background-color: transparent;
  box-shadow: none;
  color: #f8f8f2dd;
}

.footer {
  background-color: #191a21;
}

.footer .text-muted,
.footer a {
  color: #bcc2cd;
  transition: color 100ms linear 0ms;
}
.footer a:hover {
  color: #ff79c6;
}

.breadcrumb {
  background-color: transparent;
  /*border-bottom: 2px solid #21222c; */
  border-radius: 0px;
  padding: 20px 5px 10px 0px;
  margin-bottom: 0px;
}

.dropdown-menu {
  background-color: #191a21;
}

.divider {
  background-color: #21222c;
}

::placeholder {
  color: #424450;
}

/* System > Advanced > System Tunables */
caption {
  background-color: #282a36;
  color: #f8f8f2;
  padding: 10px 5px;
  margin: 10px 0px;
  border-radius: 5px;
}

/* Multiple selects */
option:checked {
  background: #44475a linear-gradient(0deg, #44475a 0%, #44475a 100%);
  color: #f8f8f2;
}
::selection {
  background-color: #44475a;
}

:focus-visible {
  outline: none;
}

/***** Widgets on homepage ****/

.panel-default > .panel-heading {
  background-color: transparent;
  border: none;
  color: #f8f8f2dd;
  letter-spacing: 0px;
  padding-left: 5px;
  margin-bottom: 10px;
}

div.panel-heading.ui-sortable-handle {
  padding: 5px 5px;
  margin-bottom: 0px; /* on homepage we dont need spacing */
}

.panel-default {
  box-shadow: none;
  border: 0px solid #21222c;
  background-color: #21222c;
  padding: 10px 5px;
  border-radius: 5px;
}

.panel-body.collapse.in {
  padding-top: 10px;
}

.panel-title a,
.panel-title {
  color: #f8f8f2dd;
  color: #bd93f9;
  padding: 0px 0px;
  font-size: 12px;
}

/* Diagnostics > pfInfo */
.panel-body {
  background-color: transparent;
  border: none;
}

.widget-heading-icon .fa {
  color: #bd93f9;
  transition: color 100ms linear 0ms;
  font-size: 12px;
  margin: 0px 2px;
}

.widget-heading-icon .fa:hover {
  color: #f8f8f2;
}

/* Table */
.table.sortable-theme-bootstrap {
  color: #f8f8f2;
}

.table-striped > thead {
  background-color: #191a21;
  color: #bcc2cd;
}

.table-striped thead th {
  border: none;
  font-weight: normal;
}
.table-striped tbody td {
  vertical-align: middle;
}

/* thead shows up in System > Advanced > System Tunables */
.table tbody th,
.table thead th {
  vertical-align: middle;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #21222c;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #282a36;
}

.table-striped td {
  border: none;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border: none;
}

/*table-condensed - used by wireguard*/
table.table-condensed thead {
  background-color: #191a21;
}
table.table-condensed tbody {
  background-color: #282a36;
}

/* Only for peer entries table */
.peer-entries table.table-condensed > tbody > tr:hover {
  background-color: transparent;
}
/* Colors */
.text-success {
  color: #50fa7b;
}

.text-danger {
  color: #ff5555;
}

.text-warning {
  color: #ffb86c;
}

.text-info {
  color: #8be9fd;
}

.bg-danger {
  background-color: #ff5555;
  color: #f8f8f2;
}

/*** nav (interface assignments etc) **/
.nav-pills {
  box-shadow: inset 0 -1px 0 #343746;
}

.nav-pills li {
  margin-left: 0px;
  /* border-left: 1px solid #191a21; */
}

.nav-pills li:nth-child(1) {
  border-left: none;
}

.nav-pills li a {
  border-bottom: transparent;
  box-shadow: none;
  color: #bcc2cd;
  transition: all 100ms linear 0ms;
  /* background-color: #21222c; */
  background-color: transparent;
  font-size: 14px;
}

.nav > li > a:focus,
.nav > li > a:hover {
  color: #f8f8f2;
  border-bottom: 2px solid #bcc2cd;
  text-decoration: none;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #f8f8f2;
  background-color: transparent;
  box-shadow: none;
  font-weight: bold;
  border-bottom: 2px solid #ff79c6;
}

/* pfSense logo */
.logo-st0 {
  fill: #ff79c6;
}

.logo-st1 {
  fill: #f8f8f2;
}

.logo-st2 {
  fill: #ff79c6;
}

/* Forms */

.form-group {
  padding: 3px 5px;
}
/* main focus control */
.form-control {
  background-color: #191a21;
  outline: none;
  border: 1px solid #282a36;
  box-shadow: none;
  color: #f8f8f2;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 12px;
  vertical-align: middle;
  height: 32px;
}

/*input focus glow */
.form-control:focus {
  border-color: #ff79c6;
  box-shadow: #ff79c6 0px 0px 5px 0px;
}

/* position the label at the middle  of the input */
.form-horizontal .control-label {
  padding-top: 14px;
}

/* underline on the form control label */
.element-required {
  box-shadow: none;
  font-weight: bold;
}

/* the "/" in the subnet mask */
.input-group-inbetween {
  background: transparent;
  outline: none;
  border: none;
  color: #f8f8f2;
}

input {
  transition: none;
}

input:before {
  background-color: red;
}

/* position checkbox group at the middle */
.form-group .checkbox {
  padding-top: 9px;
}

/*

.checkbox input[type=checkbox]{
  background-color: transparent;
  border: 1px solid red;
  outline: none;
  appearance: auto;
}
.checkbox input[type=checkbox]:checked {
  color: red;
}

*/

/* Buttons */
.btn {
  appearance: none;
  border: 1px solid;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 5px 16px;
  position: relative;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #343746;
  border-color: #424450;
  transition: all linear 100ms;
  color: #f8f8f2;
}

.btn[disabled] {
  cursor: default;
  opacity: 0.4;
  color: #f8f8f2;
}
.btn:hover[disabled] .fa {
  cursor: default;
  color: #f8f8f2;
}

.btn .fa {
  transition: all linear 100ms;
  margin-right: 5px;
}

/* primary button */
.btn-primary:hover:enabled {
  border-color: #bd93f9;
  color: #bd93f9;
}

.btn-primary:hover:enabled .fa {
  color: #bd93f9;
}
/* Shows up in ART Table */
a.btn-primary {
  color: #f8f8f2;
}

a.btn-primary:hover {
  color: #bd93f9;
  border-color: #bd93f9;
}
a.btn-primary:hover .fa {
  color: #bd93f9;
}

/* success button */
.btn-success,
.btn-success .fa {
  background-color: #50fa7b;
  color: #000;
}
.btn-success:hover {
  background-color: #50fa7bdd;
  color: #000;
}

.btn-success:hover .fa:before,
.btn-success:hover .fa {
  background-color: transparent;
  color: #000;
}

/* danger button */
.btn-danger,
.btn-danger .fa {
  color: #ff5555;
}

.btn-danger:hover {
  background-color: #ff5555;
  color: #f8f8f2;
}
.btn-danger:hover .fa {
  color: #f8f8f2;
}

/* Info button */
.btn-info:hover {
  border-color: #bd93f9;
  color: #bd93f9;
}
.btn-info:hover .fa {
  color: #bd93f9;
}

a.btn-info {
  color: #f8f8f2;
}

/* warning button */
.btn-warning,
.btn-warning .fa {
  color: #ffb86c;
}

.btn-warning:hover {
  background-color: #ffb86c;
  color: #f8f8f2;
}
.btn-warning:hover .fa {
  color: #f8f8f2;
}

button.close {
  border: none;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
  opacity: 1;
}

button.close span {
  color: #bd93f9;
}

button.close:hover span {
  color: #f8f8f2;
}

/* Banner / Alert */

.alert {
  border-radius: 6px;
  margin: 10px 0px;
}
.alert-info,
.bg-info {
  background-color: #8be9fd0a;
  color: #8be9fd;
  box-shadow: none;
  border: 1px solid #8be9fd88;
  border-radius: 5px;
}

.alert-danger {
  color: #ff5555;
  background-color: #ff55550a;
  border: 1px solid #ff555588;
}
.alert-warning {
  color: #ffb86c;
  background-color: #ffb86c0a;
  border: 1px solid #ffb86c88;
}

.help-block {
  color: #bcc2cd;
}

/* blue i */
#showinfo0,
#showinfo1 {
  color: #8be9fd;
}

.bs-callout-danger {
  border-left-color: #ff5555;
}
.bs-callout-danger h4 {
  color: #ff5555;
}

.bs-callout-info {
  border-left-color: #8be9fd;
}
.bs-callout-info h4 {
  color: #8be9fd;
}

.bs-warning-info {
  border-left-color: #ffb86c;
}
.bs-warning-info h4 {
  color: #ffb86c;
}

/* Modal */
.modal-content {
  background-color: #282a36;
  border-radius: 5px;
}

.modal-content div {
  border: none;
}

.modal-body {
  background-color: transparent;
}

.modal-header {
  background-color: transparent;
  color: #bd93f9;
}

.modal-footer {
  background-color: transparent;
}

/* Text area */
pre,
textarea {
  background-color: #282a36;
  color: #f8f8f2;
  border-radius: 5px;
  border: 1px solid #424450;
  overflow: auto;
  padding: 20px 20px 20px 20px;
  box-shadow: none;
}

textarea:focus-visible {
  /*border: 1px solid #BD93F9;*/
  outline: none;
}
