/*
    - &BG        '#282A36'
    - &FG        '#F8F8F2'
    - &SELECTION '#44475A'
    - &COMMENT   '#6272A4'
    - &CYAN      '#8BE9FD'
    - &GREEN     '#50FA7B'
    - &ORANGE    '#FFB86C'
    - &PINK      '#FF79C6'
    - &PURPLE    '#BD93F9'
    - &RED       '#FF5555'
    - &YELLOW    '#F1FA8C'
    
    - &LineHighlight '#44475A75'
    - &NonText       '#FFFFFF1A'
    - &WHITE         '#FFFFFF'
    - &TAB_DROP_BG   '#44475A70'
    # UI Variants
    - &BGLighter     '#424450'
    - &BGLight       '#343746' # HSV (230   , 25.71, 27.45)
    - &BGDark        '#21222C' # HSV (234.55, 25   , 17.25)
    - &BGDarker      '#191A21' # HSV (234.55, 25   , 13   )

*/

/* Navbar */

.navbar {
  margin-bottom: -10px;
}

.navbar a {
  color: #6272a4;
  border-bottom-color: transparent;
  transition: color 100ms linear 0ms;
}

.navbar a:hover,
.navbar a:focus {
  color: #f8f8f2;
  box-shadow: none;
}
.navbar .open a {
  color: #f8f8f2;
  background-color: #191a21;
}

.dropdown-menu {
  font-size: 12px;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #44475a;
}

nav.navbar.navbar-static-top.navbar-inverse {
  background-color: #21222c;
  border: none;
}

/********/

body {
  background-color: #282a36;
  color: #f8f8f2;
}

a {
  color: #ff79c6;
}

.header {
  background-color: transparent;
  box-shadow: none;
  color: #f8f8f2dd;
}

.footer {
  background-color: #191a21;
}

.footer .text-muted,
.footer a {
  color: #6272a4;
  transition: color 100ms linear 0ms;
}
.footer a:hover {
  color: #ff79c6;
}

.breadcrumb {
  background-color: transparent;
  border-bottom: 2px solid #21222c;
  border-radius: 0px;
  padding: 10px 5px;
}

.dropdown-menu {
  background-color: #191a21;
}

.divider {
  background-color: #21222c;
}

/***** Widgets on homepage ****/

.panel-default > .panel-heading {
  background-color: transparent;
  border: none;
  color: #f8f8f2dd;
  letter-spacing: 0px;
}

div.panel-heading.ui-sortable-handle {
  padding: 5px 5px;
}

.panel-default {
  background-color: transparent;
  box-shadow: none;
  border: 0px solid #21222c;
  background-color: #21222c;
}

.panel-body.collapse.in {
  padding-top: 10px;
}

.panel-title a,
.panel-title {
  color: #f8f8f2dd;
  padding: 0px 0px;
  font-size: 12px;
}

.widget-heading-icon .fa {
  color: #6272a4;
  transition: color 100ms linear 0ms;
  font-size: 12px;
  margin: 0px 2px;
}

.widget-heading-icon .fa:hover {
  color: #f8f8f2;
}

/* Table */
.table.sortable-theme-bootstrap {
  color: #f8f8f2;
}

.table-striped > thead {
  background-color: #191a21;
  color: #6272a4;
}

.table-striped thead th {
  border: none;
  font-weight: normal;
}
.table-striped tbody td {
  vertical-align: middle;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #21222c;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #282a36;
}

.table-striped td {
  border: none;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border: none;
}

/* Colors */
.text-success {
  color: #50fa7b;
}

.text-danger {
  color: #ff5555;
}

.bg-danger {
  background-color: #ff5555;
  color: #f8f8f2;
}

/*** nav (interface assignments etc) **/
.nav-pills li {
  margin-left: 0px;
  border-left: 1px solid #191a21;
}

.nav-pills li:nth-child(1) {
  border-left: none;
}

.nav-pills li a {
  border-bottom: transparent;
  box-shadow: none;
  color: #6272a4;
  transition: color 100ms linear 0ms;
  background-color: #21222c;
}

.nav > li > a:focus,
.nav > li > a:hover {
  color: #f8f8f2;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav li.open > a,
.nav li.open > a:focus,
.nav-pills > li.active > a:hover {
  color: #f8f8f2;
  background-color: transparent;
  box-shadow: none;
}

/* pfSense logo */
.logo-st0 {
  fill: #ff79c6;
}

.logo-st1 {
  fill: #f8f8f2;
}

.logo-st2 {
  fill: #ff79c6;
}

/* Forms */

.form-group {
  padding: 3px 5px;
}
/* main focus control */
.form-control {
  background-color: #191a21;
  outline: none;
  border: 1px solid #282a36;
  box-shadow: none;
  color: #f8f8f2;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 12px;
  vertical-align: middle;
  height: 32px;
}

/*input focus glow */
.form-control:focus {
  border-color: #ff79c6;
  box-shadow: #ff79c6 0px 0px 5px 0px;
}

/* position the label at the middle  of the input */
.form-horizontal .control-label {
  padding-top: 14px;
}

/* position checkbox group at the middle */
.form-group .checkbox {
  padding-top: 9px;
}

/*

.checkbox input[type=checkbox]{
  background-color: transparent;
  border: 1px solid red;
  outline: none;
  appearance: auto;
}
.checkbox input[type=checkbox]:checked {
  color: red;
}

*/

/* Buttons */
.btn {
  appearance: none;
  border: 1px solid;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 5px 16px;
  position: relative;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #343746;
  border-color: #424450;
  transition: all linear 100ms;
}

.btn .fa {
  transition: all linear 100ms;
}
.btn:hover .fa {
  color: #f8f8f2;
}

/* primary button */
.btn-primary:hover {
  border-color: #6272a4;
}

.action-buttons a.btn-primary {
  color: #f8f8f2;
}

/* success button */
.btn-success,
.btn-success .fa {
  background-color: #50fa7b;
  color: #000;
}
.btn-success:hover {
  background-color: #50fa7bdd;
}

.btn-success:hover .fa:before,
.btn-success:hover .fa {
  background-color: transparent;
  color: #000;
}

/* danger button */
.btn-danger,
.btn-danger .fa {
  color: #ff5555;
}

.btn-danger:hover {
  background-color: #ff5555;
  color: #f8f8f2;
}
.btn-danger:hover .fa {
  color: #f8f8f2;
}

/* Banner / Alert */

.alert {
  border-radius: 6px;
  margin: 10px 0px;
}
.alert-info {
  background-color: #343746;
  color: #f8f8f2;
  box-shadow: none;
  border: 1px solid #424450;
}

.alert-danger {
  color: #ff5555;
  background-color: #ff55550a;
  border: 1px solid #ff555588;
}
.alert-warning {
  color: #ffb86c;
  background-color: #ffb86c0a;
  border: 1px solid #ffb86c88;
}
