/* Banner / Alert */

.alert {
  border-radius: 6px;
  margin: 10px 0px;

  a {
    color: inherit;
    font-weight: bold;

    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }

  button {
    color: inherit;

    span {
      color: inherit;
      opacity: 0.6;

      &:hover {
        color: inherit;
        opacity: 1;
      }
    }
  }
}

// Links and close-button inside alerts

%banner-buttonstyle {
  button {
    color: inherit;
    &:hover {
      span {
        color: inherit;
      }
    }
  }
}

.alert-info,
.bg-info {
  background-color: var(--cryandarker);
  color: var(--cyan);
  box-shadow: none;
  border: 1px solid var(--cyandark);
  border-radius: 5px;
  // Sometimes .alert is not added to the element class
  // list (System > Package Manager) > Installed Packages, so have to do this
  padding: 15px;

  @extend %banner-buttonstyle;
}

.alert-danger {
  color: var(--red);
  background-color: var(--reddarker);
  border: 1px solid var(--reddark);
  padding: 15px;

  @extend %banner-buttonstyle;
}

.alert-warning {
  color: var(--orange);
  background-color: var(--orangedarker);
  border: 1px solid var(--orangedark);
  padding: 15px;

  @extend %banner-buttonstyle;
}

.help-block {
  color: var(--textdull);
}

// The blue "i"
#showinfo0,
#showinfo1 {
  color: var(--cyan);
  &:hover {
    color: var(--cyandark);
  }
}

// Callouts

@mixin bs-callout-mixin($color, $colordark, $colordarker) {
  border-left-color: $color;
  color: $color;

  background-color: $colordarker;
  border-top: 1px solid $colordark;
  border-bottom: 1px solid $colordark;
  border-right: 1px solid $colordark;

  h4 {
    color: $color;
  }

  br {
    display: none;
  }
  p {
    margin: 0;
  }

  a {
    color: inherit;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
      color: inherit;
    }
  }

  //  For Firewall > pfBlockerNG > Sync
  strong {
    font-weight: normal;
  }
}

.bs-callout-danger {
  @include bs-callout-mixin(var(--red), var(--reddark), var(--reddarker));
}

.bs-callout-info {
  @include bs-callout-mixin(var(--cyan), var(--cyandark), var(--cryandarker));
}

.bs-callout-warning {
  @include bs-callout-mixin(
    var(--orange),
    var(--orangedark),
    var(--orangedarker)
  );
}
