/* Modal */

%modal-buttonstyle {
  button {
    color: inherit;
    &:hover {
      span {
        opacity: 0.6;
        color: inherit;
      }
    }
  }
}

.modal-content {
  background-color: var(--bg);
  border-radius: 5px;

  div {
    border: none;
  }
}

.modal-body {
  background-color: transparent;
}

.modal-header {
  background-color: transparent;
  color: var(--accent);

  @extend %modal-buttonstyle;
}

.modal-footer {
  background-color: transparent;
}
