/* Banner / Alert */

.alert {
  border-radius: 6px;
  margin: 10px 0px;

  a {
    color: inherit;
    font-weight: bold;

    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }

  button {
    color: inherit;

    span {
      color: inherit;
      opacity: 0.6;

      &:hover {
        color: inherit;
        opacity: 1;
      }
    }
  }
}

// Links and close-button inside alerts

%buttonstyle {
  button {
    &:hover {
      span {
        color: inherit;
      }
    }
  }
}

.alert-info,
.bg-info {
  background-color: var(--cryandarker);
  color: var(--cyan);
  box-shadow: none;
  border: 1px solid var(--cyandark);
  border-radius: 5px;
  @extend %buttonstyle;
}

.alert-danger {
  color: var(--red);
  background-color: var(--reddarker);
  border: 1px solid var(--reddark);

  @extend %buttonstyle;
}

.alert-warning {
  color: var(--orange);
  background-color: var(--orangedarker);
  border: 1px solid var(--orangedark);

  @extend %buttonstyle;
}

.help-block {
  color: var(--textdull);
}

// The blue "i"
#showinfo0,
#showinfo1 {
  color: var(--cyan);
}

// Callouts

@mixin bs-callout-mixin($color) {
  border-left-color: var($color);

  h4 {
    color: $color;
  }
}

.bs-callout-danger {
  @include bs-callout-mixin(var(--red));
}

.bs-callout-info {
  @include bs-callout-mixin(var(--cyan));
}

.bs-warning-info {
  @include bs-callout-mixin(var(--orange));
}
