@use "./components/_banner.scss";
@use "./components/_button.scss";
@use "./components/_form.scss";
@use "./components/_modal.scss";
@use "./components/_navbar.scss";
@use "./components/_table.scss";
@use "./components/_text.scss";

@use "./pages/status-dashboard.scss";
@use "./pages/status-dhcp_leases.scss";
@use "./pages/status-system_logs-firewall.scss";
@use "./pages/firewall-pfblockerng.scss";
@use "./pages/system-package_manager-installed_packages.scss";

body {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: var(--bg);
  color: var(--fg);
}

.ui-widget {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

a.fa,
i.fa {
  font-size: 14px;
  opacity: 0.8;
}

a {
  color: var(--brand);

  &:hover {
    color: var(--branddark);
  }
}

.header {
  background-color: transparent;
  box-shadow: none;
  color: var(--fg) dd;
}

.footer {
  background-color: var(--bgdarker);

  .text-muted {
    color: var(--textdull);
    transition: color 100ms linear 0ms;
  }

  a {
    color: var(--textdull);
    transition: color 100ms linear 0ms;

    &:hover {
      color: var(--brand);
    }
  }
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 16px;
  font-size: 18px;

  background-color: transparent;

  /*border-bottom: 2px solid var(--bgdark); */
  border-radius: 0px;
  padding: 20px 5px 10px 0px;
  margin-bottom: 0px;
}

.dropdown-menu {
  background-color: var(--bgdarker);
}

.dropdown-menu > li > a {
  padding: 3px 20px;
}

.divider {
  background-color: var(--bgdark);
}

::placeholder {
  color: var(--bglighter);
}

/* System > Advanced > System Tunables */

caption {
  background-color: var(--bg);
  color: var(--fg);
  padding: 10px 5px;
  margin: 10px 0px;
  border-radius: 5px;
}

:focus-visible {
  outline: none;
}

/* underline on the form control label */

.element-required {
  box-shadow: none;
  font-weight: bold;
}

.icon-embed-btn {
  padding-right: 16px;
  padding-bottom: 13px;
}

.progress {
  background-color: var(--bgdarker);
}
.progress-bar {
  background-color: var(--green);
  opacity: 0.8;
}
