/*
    - &BGLighter     '#424450'
    - &BGLight       '#343746' # HSV (230   , 25.71, 27.45)
    - &BGDark        '#21222C' # HSV (234.55, 25   , 17.25)
    - &BGDarker      '#191A21' # HSV (234.55, 25   , 13   )

*/

@use '../../common/reset.scss';

:root {
  --fg: #f8f8f2;
  --fgdull: #f8f8f2dd;
  --bglighter: #424450;
  --bglight: #343746;
  --bg: #282a36;
  --bgdark: #21222c;
  --bgdarker: #191a21;
  --textdull: #bcc2cd;
  --selection: #44475a;
  --comment: #6272a4;
  --cyan: #8be9fd;
  --cryandarker: #8be9fd0a;
  --cyandark: #8be9fd88;
  --green: #50fa7b;
  --greendark: #50fa7bdd;
  --red: #ff5555;
  --reddarker: #ff55550a;
  --reddark: #ff555588;
  --yellow: #f1fa8c;
  --orange: #ffb86c;
  --orangedarker: #ffb86c0a;
  --orangedark: #ffb86c88;
  --purple: #bd93f9;
  --pink: #ff79c6;
  --pinkdark: #ff79c6aa;
  --accent: var(--purple);
  --brand: var(--pink);
  --branddark: var(--pinkdark);
}
